<!DOCTYPE html>
<html>
<head>
	<% include partials/template/head.ejs %>
</head>
<body>
<% include partials/template/menu.ejs %>


<div id='container'>

	<%if (data[0].video!=''){ %>
	<video width="100%" controls poster="images/fpo.jpg">
		<source src="video/<%= data[0].video %>" type="video/mp4">
		Your browser does not support the video tag.
	</video>
	<%} else {%>
	<iframe id ='video' width="640" height="360" src="<%= data[0].youtube %>" frameborder="0" allowfullscreen></iframe>
	<% } %>



	<div id='mission' class='section '>
		<h3 style=''>Our mission</h3>
		<%- description %>
	</div><!--mission-->


	<div class="clearAll"></div>

	<div id='followUs' class='section clearALl'>
		<h3>Connect with us</h3>
		<% for (var i=0; i<socialData.length; i++){%><%if (socialData[i].publish=='TRUE'){%><a href='<%= socialData[i].url %>' id='<%= socialData[i].platform %>' style='position: relative;'><img src='images/transparentSquare.png' class='square'/>				<div class="floatingText">
				<h3 ><%=socialData[i].action %></h3>
			</div>
		</a><% } %><% } %>
		<%- strategy %>

	</div><!--socialIcons-->

	<div class='section' style='margin-bottom:0;'>
		<h3 style='margin-bottom:0;'>The team</h3>
	</div>
	<!--<div id='map_canvas'></div>-->
	<div id='map-rize' class='map'> </div>
	<div class='section mapDescription'>
		<%- map %>
	</div>

	<div id='staff' class='section'>
		<!--<h3>The team</h3>-->
		<% for (var i=0; i<staffData.length; i++){%>
		<div class='member'>
			<div class='photo' style='background:#FFF url(images/mugshot_<%= staffData[i].twitter %>.jpg) center center; background-size: cover;'>
				<img src='images/transparentSquare.png' class='square'/>
			</div>
			<div class='profile'>
				<h4><%= staffData[i].name %></h4>
				<p class='role'><%= staffData[i].role %>, <a href='http://twitter.com/<%= staffData[i].twitter %>'>@<%= staffData[i].twitter %></a></p>
				<p class='biography'><%= staffData[i].bio %></p>
			</div>
		</div>
		<% } %>
	</div><!-- staff -->





</div><!-- container -->

<script>
	var geojson = [
		{
			"type": "FeatureCollection",
			"features": [
				<% for (var i = 0; i < mapData.length; i++){ %>
				{
					"type": "Feature",
					"geometry": {
						"type": "Point",
						"coordinates": [<%- mapData[i].coordinates %>]
					},
					"properties": {
						"title": "<%- mapData[i].title %>",
						"description": "<% if (mapData[i].image!=''){ %><img src='<%= data[0].url %>images/<%= mapData[i].image %>' style='width: 30%; float: left; margin-right: 10px;'/><% } %><%= mapData[i].description %>",
						"marker-color": "<%= mapData[i].markercolor %>",
						"marker-size": "<%= mapData[i].markersize %>"
					<% if (mapData[i].markersymbol!=''){ %>,"marker-symbol": "<%= mapData[i].markersymbol %>"<% } %>
					}
				}<% if (i < mapData.length - 1){ %>,<% } %>
				<% } %>
			]
		}
	];
</script>
<div class="clearAll"></div>

<% include partials/template/footer.ejs %>
<% include partials/template/scripts.ejs %>
</body>
</html>
