<div id='header' class='clearAll'>
	<div id='centerWidth'>
		<div id='titleBar'>
			<h1><a href='<%= data[0].url %>'>
					<% if (data[0].navtitle!=''){ %>
					<%- data[0].navtitle %>
					<% } else { %>
					<%= data[0].title %>
					<% } %>
				</a></h1>
		</div>

		<div id='socialFullWidth'>
			<div id="socialGray">
					<% for (var i=0; i<socialData.length; i++){%><%if (socialData[i].publish=='TRUE'){%><a href='<%= socialData[i].url %>'  title='<%=socialData[i].action %>'><img src='images/social_gray_<%=socialData[i].platform %>.png'/></a><% } %><% } %>
			</div>
		</div>

		<ul class='dropdownCategories right' id='dropdown'>
			<% for (var i=0; i<socialData.length; i++){%><%if (socialData[i].publish=='TRUE'){%><a href='<%= socialData[i].url %>' title='<%=socialData[i].action %>'><li><%=socialData[i].action %></li></a><% } %><% } %>

		</ul>
		<a id='menuButton'><img src='images/menu.png'/></a>
	</div><!--centerWidth-->
</div><!--header-->